.LoginRadius_overlay
{
background: none no-repeat scroll 0 0 rgba(127, 127, 127, 0.6);
position: absolute;
top: 0;
left: 0;
z-index: 100001;
width: 100%;
height: 100%;
overflow: auto;
padding: 20px;
padding-bottom: 130px;
position: fixed;
}
.LoginRadius_DivPopHeader {
   margin: 150px 0 0 25%;
   position: absolute;
   z-index: 999;
 }
.LoginRadius_popupDiv
{
padding:20px;
height:120px; 
width:300px; 
background:#FFFFFF; 
border:2px solid #00CCFF;
}
.LoginRadius_container_outer {
 width: 648px;
 border: 1px solid #ccc;
 background-color: #EAF7FF;
}
.LoginRadius_container_inner {
 background-color: #EAF7FF;
 padding: 10px;
 margin-bottom: 10px;
 overflow: hidden;
 width: 140px;
 }

.LoginRadius_container {
 float:left;
 padding: 10px;
 margin-bottom: 10px;
 overflow: hidden;
 width:460px;
 background-color: #EAF7FF;
}
.LoginRadius_container_outer h3 {
 color:#00ccff;
 font-size:1.1em;
}

.LoginRadius_container_outer ul {
 list-style-type: disc;
 padding-left: 20px;
 }
 
.LoginRadius_container_outer .LoginRadius_container_links {
border-color: #E6DB55;
}

.LoginRadius_container_outer .LoginRadius_container_links a {
 color: #111;
 text-decoration:none;
}

.LoginRadius_container_outer .LoginRadius_container_links a:hover {
 color: #00ccff;
}

.LoginRadius_table {
 background-color: #efefef;
 border: 1px solid #ccc;
 width: 650px;
 margin-bottom: 10px;
}

.LoginRadius_table input {
 border-color: #aaa;
}

.LoginRadius_table .head {
 font-weight: bold;
 font-size: 13px;
 font-weight: bold;
 background-color: #ddd;
}

.LoginRadius_table tr td.row {
 line-height: 36px;
}

.LoginRadius_table tr.description td {
 color: #0D5995;
}

.LoginRadius_table .row_white {
 background-color: #fff;
}


<!--[if IE]>
.LoginRadius_content_IE
{
background:black;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
filter: alpha(opacity=90);
}
<![endif]-->
